h1 {
  background-color: #00CCDD;
  border-radius: 5px;
  font-family: arial, sans-serif;
}

h1, p {
  margin: 0.5em auto;
  text-align: center;
}

#awesome-index {
  font-size: 2.0em;
  color: #6666CC;
}
